{:paths ["src"]

 :deps {enlive/enlive      {:mvn/version "1.1.6"}
        clj-http/clj-http  {:mvn/version "3.12.3"}
        hickory/hickory    {:mvn/version "0.7.1"}
        toyokumo/tarayo    {:mvn/version "0.2.4"}}

 :aliases {:uberjar {:extra-deps {com.github.seancorfield/depstar {:mvn/version "2.1.278"}}
                     :ns-default hf.depstar
                     :exec-fn    uberjar
                     :exec-args  {:jar        "target/ts-update.jar"
                                  :sync-pom    true
                                  :group-id    xyz.westrom
                                  :artifact-id ts-update
                                  :version     "0.0.1"
                                  :main-class  ts-update.core
                                  :aot         true}}
           :upgrade {:extra-deps {com.github.liquidz/antq {:mvn/version "0.16.3"}}
                     :main-opts  ["-m" "antq.core" "--upgrade"]}}}
