{:paths ["src"]

 :deps {clj-http/clj-http     {:mvn/version "3.12.3"}
        hickory/hickory       {:mvn/version "0.7.1"}
        clj-rss/clj-rss       {:mvn/version "0.2.7"}
        http-kit/http-kit     {:mvn/version "2.5.3"}
        ring/ring             {:mvn/version "2.0.0-alpha1"}
        buddy/buddy-auth      {:mvn/version "3.0.1"}
        lambdaisland/uri      {:mvn/version "1.11.86"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}}

 :aliases {:uberjar {:extra-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
                     :ns-default hf.depstar
                     :exec-fn    uberjar
                     :exec-args  {:jar         "target/ts-update.jar"
                                  :sync-pom    false
                                  :artifact-id ts-update
                                  :main-class  ts-update.core
                                  :aot         true}}}}
